<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke" parallel ="false">
<listeners>
<listener class-name="org.Guru99.Config.Listener"></listener>
</listeners>
  <!-- <test name="Verify item in the mobile list page can be sorted bu name">
  <parameter name="R-id" value="R-1"></parameter>
  <parameter name="tc-id" value="TC-1"></parameter>
  <parameter name="BrowserName" value="ff"></parameter>
  <parameter name="URL" value="http://live.guru99.com/"></parameter>
  <parameter name="WebDriverXPath" value=" "></parameter>
  <classes>
  	<class name="TestCases.TC1">	
  	</class>	
  </classes>
  </test> --> <!-- Smoke -->
  
 <!-- <test name="Verify the cost of the product in list page and details page are equal">
  <parameter name="R-id" value="R-2"></parameter>
  <parameter name="tc-id" value="TC-2"></parameter>
  <parameter name="BrowserName" value="ff"></parameter>
  <parameter name="URL" value="http://live.guru99.com/"></parameter>
  <parameter name="WebDriverXPath" value=""></parameter>
  <classes>
  	<class name="TestCases.TC2">	
  	</class>	
  </classes>
  </test> --> <!-- Smoke -->
  
 <!--  <test name="Verify thatyou cannot add more product in cart than the product available in store">
  <parameter name="R-id" value="R-3"></parameter>
  <parameter name="tc-id" value="TC-3"></parameter>
  <parameter name="BrowserName" value="ff"></parameter>
  <parameter name="URL" value="http://live.guru99.com/"></parameter>
  <parameter name="WebDriverXPath" value=" "></parameter>
  <classes>
  	<class name="TestCases.TC3">	
  	</class>	
  </classes>
  </test> --> <!-- Smoke -->


  <!-- <test name="Verify that you are able to compare two product">
  <parameter name="R-id" value="R-4"></parameter>
  <parameter name="tc-id" value="TC-4"></parameter>
  <parameter name="BrowserName" value="ff"></parameter>
  <parameter name="URL" value="http://live.guru99.com/"></parameter>
  <parameter name="WebDriverXPath" value=" "></parameter>
  <classes>
  	<class name="TestCases.TC4">	
  	</class>	
  </classes>
  </test> --> <!-- Smoke -->


<test name="Verify you can create account in E-commerce site and can share wishlist to other people using email">

  <parameter name="R-id" value="R-5"></parameter>
  <parameter name="tc-id" value="TC-5"></parameter>
  <parameter name="BrowserName" value="ff"></parameter>
  <parameter name="URL" value="http://live.guru99.com/"></parameter>
  <parameter name="WebDriverXPath" value=" "></parameter>
  <groups>
  <run>
  	<include name="Regression"></include>
  </run>
  </groups>
  <classes>
  
  	<!-- <class name="TestCases.TC1"></class>-->
  	<class name="TestCases.AllTestCase">
  		
  	</class>	
  </classes>
  </test> <!-- Smoke -->
</suite> <!-- Suite -->


